* {
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100%;
  height: 100%;
  background-color: rgb(10, 9, 9);
  color: aliceblue;
}

#sec1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5vw;
}

#imageconatiner1 img {
  width: 50vw;
  height: 20vw;
  object-fit: cover;
}

#imageconatiner2 {
  display: flex;
  gap: 4vw;
}

#imageconatiner2 img {
  width: 23vw;
  height: 20vw;
  object-fit: cover;
}

#heroImages {
  display: flex;
  flex-direction: column;
  gap: 4vw;
}

#heroTexts {
  display: flex;
  flex-direction: column;
  gap: 2vw;
}

#heroTexts h1 {
  font-size: 4vw;
}

#heroTexts h3 {
  font-size: 1.2vw;
}

#ctaContainer {
  display: flex;
  gap: 2vw;
}

#ctaContainer button {
  padding: 1vw 2vw;
  font-size: 1.5vw;
  border-radius: 5vw;
}

@media (max-width: 720px) {
  #imageconatiner2 {
    display: none;
  }

  #sec1 {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  gap: 10vw;
  align-items: center;
  padding: 5vw;
}

#imageconatiner1 img {
  width: 90vw;
  height: 100vw;
  object-fit: cover;
}

#heroTexts h1 {
  font-size: 18vw;
}

#heroTexts h3 {
  font-size: 5vw;
}

#ctaContainer button {
  padding: 4vw 6vw;
  font-size: 4vw;
  border-radius: 10vw;
}

#heroTexts {
  gap: 5vw;
}


}
